{% extends index.html %}

{% block meta %}
<meta name="description" content="Get in touch with Abu Raihan M Shoaib">
<meta name="keywords" content="abu,raihan,shoaib,aburms,web,developer,london,php,html,css,python,tornado">
<meta property="og:title" content="abur.ms - get in touch">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site_root('contact') }}">
<meta property="og:image" content="{{ site_root('static/assets/og.jpg') }}">
<meta property="og:description" content="Get in touch with Abu Raihan M Shoaib">
<meta property="og:site_name" content="abur.ms">
<title>abur.ms - get in touch</title>
{% end %}

{% block header_title %}get in touch{% end %}

{% block nav %}
<li><a href="/about">about</a></li>
<li><a href="/work">work</a></li>
<li><a href="/stuff">stuff</a></li>
<li><a href="/contact" class="active">contact</a></li>
{% end %}

{% block content %}
<p>If you want to learn more about me, approach me for work, or just want to say hello, you can get in touch with me in a couple of ways below.</p>
<div class="contact-section">
	<h3>direct email</h3>
	<p>abu <span class="highlight">dot</span> rm <span class="highlight">dot</span> shoaib <span class="highlight">at</span> google's well-known email service</p>
</div>
<div class="contact-section">
	<h3>social media</h3>
	<p>You can use the social media links to contact me through their respective channels.</p>
</div>
<!--<div class="contact-section">
	<h3>contact form</h3>
	<p>You can fill out the form below.</p>
	<div id="form">
		<form name="contactForm" id="contactForm" action="{{ site_root('contact') }}" method="post">
			{% module xsrf_form_html() %}
			<label for="name">name{% if errors and ('name' in errors) %} <span class="error">{{ errors['name'] }}</span>{% end %}</label>
			<input class="name" name="name" id="name" type="text" value="your name">
			<label for="email">email address{% if errors and ('email' in errors) %} <span class="error">{{ errors['email'] }}</span>{% end %}</label>
			<input class="email" name="email" id="email" type="text" value="your email address">
			<label for="message">message{% if errors and ('message' in errors) %} <span class="error">{{ errors['message'] }}</span>{% end %}</label>
			<textarea class="message" name="message" id="message">your message</textarea>
			<input type="submit" class="submit" value="send">
		</form>
	</div>
</div>-->
{% end %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="{{ static_url('js/main.js') }}" type="text/javascript"></script>
{% end %}
