<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> -->
		{% block meta %}
		<meta name="description" content="Personal website of Abu Raihan M Shoaib">
		<meta name="keywords" content="abu,raihan,shoaib,aburms,web,developer,london,php,html,css,python,tornado">
		<meta property="og:title" content="abur.ms - hello, i'm abu">
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ site_root() }}">
		<meta property="og:image" content="{{ site_root('static/assets/og.jpg') }}">
		<meta property="og:description" content="Personal website of Abu Raihan M Shoaib">
		<meta property="og:site_name" content="abur.ms">
		<title>abur.ms - hello, i'm abu</title>
		{% end %}
		<link href="{{ static_url('css/main.css') }}" type="text/css" rel="stylesheet">
		<!-- Fix for IE8 and below -->
		<script>
			document.createElement("header");
			document.createElement("footer");
			document.createElement("nav");
		</script>
	</head>
	<body>
		<div id="container">
			<header>
				<div id="logo" class="aburms-logo">abur<span class="aburms-logo-circle">ms</span></div>
				<div class="header-title">{% block header_title %}hello, i'm abu{% end %}</div>
			</header>
			<div id="body">
				<div id="content">
					{% block content %}
					<p>I develop websites and web applications.
<br><br>
For my day-job, I develop web applications for <a href="http://eu.playstation.com" target="_blank">Sony PlayStation</a>. I also create websites for clients.
<br><br>
Find out more about me, or contact me for work using the <span class="highlight">navigation bar</span> or my <span class="highlight">social media</span> profiles.</p>
					{% end %}
				</div>
				<nav>
					<ul class="pages">
						{% block nav %}
						<li><a href="/about" class="active">about</a></li>
						<li><a href="/work">work</a></li>
						<li><a href="/stuff">stuff</a></li>
						<li><a href="/contact">contact</a></li>
						{% end %}
					</ul>
					<ul class="external">
						<li><a href="http://www.facebook.com/abu.shoaib" target="_blank">facebook</a></li>
						<li><a href="http://www.twitter.com/aburms" target="_blank">twitter</a></li>
						<li><a href="http://www.linkedin.com/pub/abu-shoaib/45/208/601" target="_blank">linkedin</a></li>
						<li><a href="http://www.github.com/ashoaib" target="_blank">github</a></li>
					</ul>
					<footer>&copy; {{ year }} aburms, unless stated otherwise</footer>
				</nav>
			</div>
		</div>
		{% block scripts %}{% end %}
	</body>
</html>