{% extends index.html %}

{% block meta %}
<meta name="description" content="Work done by Abu Raihan M Shoaib">
<meta name="keywords" content="abu,raihan,shoaib,aburms,web,developer,london,php,html,css,python,tornado">
<meta property="og:title" content="abur.ms - work i do">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site_root('work') }}">
<meta property="og:image" content="{{ site_root('static/assets/og.jpg') }}">
<meta property="og:description" content="Work done by Abu Raihan M Shoaib">
<meta property="og:site_name" content="abur.ms">
<title>abur.ms - work i do</title>
{% end %}

{% block header_title %}work i do{% end %}

{% block nav %}
<li><a href="/about">about</a></li>
<li><a href="/work" class="active">work</a></li>
<li><a href="/stuff">stuff</a></li>
<li><a href="/contact">contact</a></li>
{% end %}
